@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";	
@import "compass/typography/links/link-colors";

$border-color:#DDD;

body {
	font-size:12pt;
}
.entries {
	margin:0em;
	border-top:1px solid $border-color;
	border-left:1px solid $border-color;
	border-right:1px solid $border-color;
	width:600px;
}
.entry {
	border-bottom: 1px solid $border-color;
	padding:0.5em;
}
.entry span {
	display: block;
	font-style:italic;
	color : #888;
	margin-bottom:1em;
}
.entry p {
	margin:0px;	
}
.entry p.toggle-false {
	display:none;
}
.entry p.toggle-true {
}
.entry h3 {
	font-size:120%;
	text-decoration:none;
	margin:0px;
}
.btns-right {
	float:right;
}
.even {
	background-color : #F6F6F6;
}
.odd {
	background-color : #FAFAFA;
}
/*a	{
	@include link-colors(#00c, #00c, #00c, #000)
}*/
@media screen and (max-device-width: 800px), screen and (max-width: 800px) {
	.entries {   
		width:100%;
	}
}