extend layout
block content
	div(ng-controller="FeedListCtrl")
		li(ng-repeat="l in listData")
			span{{l.url}}
		form(ng-submit="addFeed()")
			input(type="text",ng-model="feedURL",size="30",placeholder="add new URL here")
			input(class="btn-primary",type="submit",value="add")


	.entries(ng-controller="EntryListCtrl")
		.entry(ng-repeat="e in entries",ng-class-even="'even'",ng-class-odd="'odd'")
			input(type="checkbox",ng-model="e.done")
			a(href="{{e.link}}") 
				h3 {{e.title}}
			span{{e.date}}
			p(class="toggle-{{e.done}}",ng-bind-html-unsafe="e.summary")

