extend layout
block content
	.entries(ng-controller="EntryListCtrl")
		.entry
			div(class="btn-group btns-right")
				a(class="btn btn-primary",ng-click="refreshEntries()")
					i(class="icon-refresh icon-white")
			| Showing stories from: 
			select(ng-model="selectedTag",ng-options="t as t.name group by t.group for t in tags",ng-change="refreshEntries()")

		.entry(ng-repeat="e in entries",ng-class-even="'even'",ng-class-odd="'odd'")
			div(class="btn-group btns-right")
				a(class="btn",ng-click="e.open = !e.open",ng-init="e.open=false")
					i(class="icon-{{plusMinus(e.open)}}")
					|  More
				a(class="btn",ng-click="remove($index)")
					i(class="icon-trash")
					|  Archive
				a(class="btn",ng-click="star($index)")
					i(class="icon-star{{status(e.state)}}")
					|  Star
			span{{e.feedName}}
			img(src="{{e.image}}",ng-hide="e.image==''")
			a(href="redirect?to={{encode(e.link)}}&id={{encode(e.id)}}",target="_new",ng-click="read($index)") 
				h3 {{e.title}}
			span{{e.date | date:'medium'}}
			p(class="toggle-{{e.open}}",ng-bind-html-unsafe="e.summary")
		.entry(ng-hide="isEmpty()")
			div(class="btn-group")
				a(class="btn btn-primary",ng-click="archiveAllNew()")
					i(class="icon-trash icon-white")
					|  Archive all unstarred
				a(class="btn btn-primary",ng-click="more()")
					i(class="icon-repeat icon-white")
					|  More articles
		.entry(ng-show="isEmpty()")
			h3 Loading Entries, please wait.

