extend layout
block content
	.entries(ng-controller="EntryListCtrl")
		.entry Showing stories from: 
			select(ng-model="selectedTag",ng-options="t.name for t in tags",ng-change="refreshEntries()")
		.entry(ng-repeat="e in entries",ng-class-even="'even'",ng-class-odd="'odd'")
			div(class="btn-group btns-right")
				a(class="btn",ng-click="e.open = !e.open",ng-init="e.open=false")
					i(class="icon-{{plusMinus(e.open)}}")
				a(class="btn",ng-click="remove($index)")
					i(class="icon-trash")
				a(class="btn",ng-click="star($index)")
					i(class="icon-star{{status(e.state)}}")
			a(href="redirect?to={{encode(e.link)}}&id={{encode(e.id)}}",target="_new") 
				h3 {{e.title}}
			span{{e.date | date:'medium'}}
			p(class="toggle-{{e.open}}",ng-bind-html-unsafe="e.summary")

