!!!5
html(ng-app)
	head
		title Mike's Homepage
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='scripts/all.js')
	body      
		.container
			header
				h1 Mike's Homepage
			.main-content
				block content
			footer
				p 
					a(href="https://github.com/mikeyhu/RSS-Homepage") RSS-Homepage 