!!!5
html(ng-app="rss")
	head
		title Mike's Homepage
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='scripts/all.js')
		link(href="styles/screen.css",rel="stylesheet",type="text/css")

	body      
		.container
			header
				a(href="/")
					h1 Mike's Homepage
			.navbar
				.navbar-inner
					ul.nav
						li
							a(href="/") Home
						li
							a(href="/search") Search
						li
							a(href="/editFeeds") Edit Feeds
					form(class="navbar-search pull-right",ng-controller="SearchFormCtrl",ng-submit="search()")
						input(id="searchTerm",type="text",class="search-query",placeholder="Search",ng-model="searchTerm")
			.main-content
				block content
			footer
				p
					a(href="/editFeeds") Edit Feeds
				p 
					a(href="https://github.com/mikeyhu/RSS-Homepage") RSS-Homepage 