!!!5
html(ng-app)
	head
		title Mike's Homepage
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
		script(src='scripts/all.js')
		link(href="styles/screen.css",rel="stylesheet",type="text/css")
		#link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css",rel="stylesheet")

	body      
		.container
			header
				a(href="/")
					h1 Mike's Homepage
			.main-content
				block content
			footer
				p
					a(href="/editFeeds") Edit Feeds
				p 
					a(href="https://github.com/mikeyhu/RSS-Homepage") RSS-Homepage 